body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#f4f7fb;
}

.container{
display:flex;
}

/* Sidebar */
.sidebar{
width:240px;
height:100vh;
background:white;
padding:25px;
box-shadow:2px 0 10px rgba(0,0,0,0.05);
}

.sidebar h2{
color:#2563eb;
margin-bottom:5px;
}

.sub{
color:#6b7280;
margin-bottom:30px;
}

.menu{
display:block;
padding:12px;
margin:10px 0;
border-radius:8px;
text-decoration:none;
color:#374151;
}

.menu.active, .menu:hover{
background:#2563eb;
color:white;
}

/* Main */
.main{
flex:1;
padding:40px;
}

.desc{
color:#6b7280;
margin-bottom:20px;
}

/* Card */
.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.row{
display:flex;
gap:20px;
margin-bottom:15px;
}

input, select{
width:100%;
padding:10px;
border:1px solid #d1d5db;
border-radius:6px;
}

.btn{
margin-top:20px;
width:100%;
padding:14px;
border:none;
background:#2563eb;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

.btn:hover

/* Result Box */
.result{
margin-top:25px;
padding:20px;
background:#e8f0ff;
border-left:5px solid #2563eb;
border-radius:8px;
}
